//* Utility: Size *//

@mixin size-sss {
  font-size: 60%;
}

.tiny {
  @include size-sss;
}

@mixin size-ss {
  font-size: 75%;
}

.small {
  @include size-ss;
}

@mixin size-s {
  font-size: 85%;
}

.soft {
  @include size-s;
}

@mixin size-l {
  font-size: 125%;
}

.loud {
  @include size-l;
}

@mixin size-ll {
  font-size: 185%;;
}

.big {
  @include size-ll;
}

@mixin size-lll {
  font-size: 245%;
}

.reallybig {
  @include size-lll;
}

@mixin size-llll {
  font-size: 310%;
}

.extremelybig {
  @include size-llll;
}

//* General: Radio *//

.command_headset {
  @include size-l;
  font-weight: bold;
}
