# We don't want prettier to run on anything outside of the TGUI folder, so we have to do this.
/*

# We definitely want it to run into the TGUI folder.
!/tgui

# Other misc directories we want to run it on.
!/strings
!/nano
