@font-face {
<<<<<<< HEAD
    font-family: "tgfont";
    src: url("./tgfont.woff2?0aae4a9273063ed9348b1c17407151fd") format("woff2"),
url("./tgfont.eot?0aae4a9273063ed9348b1c17407151fd#iefix") format("embedded-opentype");
=======
  font-family: "tgfont";
  src: url('tgfont.woff2?t=1748786658304') format('woff2');
>>>>>>> upstream/master
}

[class^="tg-"], [class*=" tg-"] {
  font-family: 'tgfont' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
.tg-air-tank-slash:before {
    content: "\f101";
}
.tg-air-tank:before {
    content: "\f102";
}
.tg-bad-touch:before {
    content: "\f103";
}
.tg-image-minus:before {
    content: "\f104";
}
.tg-image-plus:before {
    content: "\f105";
}
.tg-nanotrasen-logo:before {
    content: "\f106";
}
.tg-non-binary:before {
    content: "\f107";
}
.tg-prosthetic-leg:before {
    content: "\f108";
}
.tg-s1-boots:before {
    content: "\f109";
}
.tg-s1-chestplate:before {
    content: "\f10a";
}
.tg-s1-cube:before {
    content: "\f10b";
}
.tg-s1-glove-left:before {
    content: "\f10c";
}
.tg-s1-glove-right:before {
    content: "\f10d";
}
.tg-s1-gloves:before {
    content: "\f10e";
}
.tg-s1-space-helmet:before {
    content: "\f10f";
}
.tg-s1-stack:before {
    content: "\f110";
}
.tg-sound-minus:before {
    content: "\f111";
}
.tg-sound-plus:before {
    content: "\f112";
}
.tg-syndicate-logo:before {
    content: "\f113";
}
.tg-t-cable:before {
    content: "\f114";
}
.tg-t-crowbar:before {
    content: "\f115";
}
.tg-t-multitool:before {
    content: "\f116";
}
.tg-t-screwdriver:before {
    content: "\f117";
}
.tg-t-welder:before {
    content: "\f118";
}
.tg-t-wirecutters:before {
    content: "\f119";
}
.tg-t-wrench:before {
    content: "\f11a";
}
=======

:root {
--tg-air-tank-slash: "\ea01";
--tg-air-tank: "\ea02";
--tg-bad-touch: "\ea03";
--tg-image-minus: "\ea04";
--tg-image-plus: "\ea05";
--tg-nanotrasen-logo: "\ea06";
--tg-non-binary: "\ea07";
--tg-prosthetic-leg: "\ea08";
--tg-sound-minus: "\ea09";
--tg-sound-plus: "\ea0a";
--tg-syndicate-logo: "\ea0b";
}
.tg-air-tank-slash::before { content: var(--tg-air-tank-slash); }
.tg-air-tank::before { content: var(--tg-air-tank); }
.tg-bad-touch::before { content: var(--tg-bad-touch); }
.tg-image-minus::before { content: var(--tg-image-minus); }
.tg-image-plus::before { content: var(--tg-image-plus); }
.tg-nanotrasen-logo::before { content: var(--tg-nanotrasen-logo); }
.tg-non-binary::before { content: var(--tg-non-binary); }
.tg-prosthetic-leg::before { content: var(--tg-prosthetic-leg); }
.tg-sound-minus::before { content: var(--tg-sound-minus); }
.tg-sound-plus::before { content: var(--tg-sound-plus); }
.tg-syndicate-logo::before { content: var(--tg-syndicate-logo); }


>>>>>>> upstream/master
