<!--
Title: Basic Radio UI
Used In File(s): /code/game/objects/item/devices/radio/radio.dm
-->
<head>
	<style type="text/css">
		.radio					{color: #008000;}
		.deptradio				{color: #993399;}
		.comradio				{color: #395A9A;}
		.syndradio				{color: #6D3F40;}
		.centradio				{color: #5C5C8A;}
		.airadio				{color: #FF00FF;}
		.secradio				{color: #A30000;}
		.engradio				{color: #A66300;}
		.medradio				{color: #008160;}
		.sciradio				{color: #993399;}
		.supradio				{color: #7F6539;}
		.srvradio				{color: #6eaa2c;}
	</style>
</head>

<!-- Order is frequency, radio then channel-->

{{if data.useSyndMode}}
	{{:helper.syndicateMode()}}
{{/if}}
<div class="itemGroup">
	<div class="item">
	{{if data.freqlock}}
	<div class="itemLabel" style="color:light-gray">
		Frequency:
	</div>
	<div class="itemContentMedium">
		{{:(data.frequency || 1441)/10}} kHz
	</div>
	{{else}}
	<div class="itemLabel" style="color:light-gray">
		Frequency: {{:(data.frequency || 1441)/10}} kHz
	</div>
	<div class="itemContentMedium"> <!-- Just imagine this as a slider -->
		{{:helper.link('Tune Frequency', null, {'frequency': 1, 'input':1})}}
	</div>
	{{/if}}
	</div>
</div>
<div class="itemGroup">
	<h2>Audio</h2>
	<div class="item">
		<div class="itemLabel">
			Speaker:
		</div>
		<div class="itemContent">
			{{if data.spk_cut}}
				{{:helper.link(data.listening ? 'On' : 'Off', null, null, 'disabled')}}
			{{else}}
				{{:helper.link(data.listening ? 'On' : 'Off', null, {'listen' : 1})}}
			{{/if}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Microphone:
		</div>
		<div class="itemContent">
			{{if data.mic_cut}}
				{{:helper.link(data.broadcasting ? 'On' : 'Off', null, null, 'disabled')}}
			{{else}}
				{{:helper.link(data.broadcasting ? 'On' : 'Off', null, {'broadcast' : 1})}}
			{{/if}}
		</div>
	</div>
	<!-- Due to the nature of this pice of shit, you have to re-open-->
	<div class="item">
		<div class="itemLabel">
			High volume:
		</div>
		<div class="itemContentMedium">
			<!-- fucking nanoui dosen't even convert BOOLEANS into their byond counterparts (1 and o)!!-->
			{{:helper.link(data.useCommand ? 'On' : 'Off', null, {'command' : 1}, !data.command ? 'disabled' : null)}}
		</div>
	</div>
	{{if data.subspaceSwitchable}}
	<div class="item">
		<div class="itemLabel">
			Subspace Transmission:
		</div>
		<div class="itemContentMedium">
			{{:helper.link(data.subspace ? 'On' : 'Off', null, {'subspace' : 1})}}
		</div>
	</div>
	{{/if}}
</div>
{{if data.subspace}}
<div class="itemGroup">
	<h2>Channels</h2>
	{{if data.channels}}
		{{:radiomap(data.channels)}}
	{{else}}
		<div class="bad">
			No encryption keys installed.
		</div>
	{{/if}}
</div>
{{/if}}
